version: "3.9"

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: ghost
    ports:
      - "5432:5432"

  app:
    build: .
    environment:
      DATABASE_URL: postgres://postgres:ghost@db:5432/postgres
    ports:
      - "3000:3000"
    depends_on:
      - db
